nav {
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1;
  top: 0;
  left: 0;

}

.nav-container {
  display: flex;
  padding: 20px;
  margin: 0;
  box-shadow: 1px 1px 10px darkgrey;
  width: 100%;
  justify-content: space-between;
}

.nav-app-name {
  color: white;
  margin-left: 30px;
}

.nav-links-container {
  margin-right: 30px;
}

.nav-link {
  margin: 20px;
}

.nav-container a {
  text-decoration: none;
  color: white;
}

.nav-container a:visited {
  color: white;
}